In [36]:
import pandas as pd
import numpy as np

How to create a series from a list, numpy array and dict?

In [5]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

#your code goes here
series1=pd.Series(mylist)
series2=pd.Series(mydict)
series3=pd.Series(myarr)

How to combine many series to form a dataframe?

In [6]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

#your code goes here
df=pd.concat([ser1,ser2])
print(df)

0      a
1      b
2      c
3      e
4      d
5      f
6      g
7      h
8      i
9      j
10     k
11     l
12     m
13     n
14     o
15     p
16     q
17     r
18     s
19     t
20     u
21     v
22     w
23     x
24     y
25     z
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: object

How to assign name to the series’ index ?

In [8]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

#your code goes here
print(ser1.add_prefix('X'))

X0     a
X1     b
X2     c
X3     e
X4     d
X5     f
X6     g
X7     h
X8     i
X9     j
X10    k
X11    l
X12    m
X13    n
X14    o
X15    p
X16    q
X17    r
X18    s
X19    t
X20    u
X21    v
X22    w
X23    x
X24    y
X25    z
dtype: object

How to get the items of series A not present in series B ?

In [11]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

#your code goes here
#~ ___> not
different=ser1[~ser1.isin(ser2)]
print(different)

0    1
1    2
2    3
dtype: int64

How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [19]:
ser = pd.Series(np.random.normal(10, 5, 25))

#your code goes here

ser.min()
ser.median()
ser.max()
ser.quantile([.25,.75])

0.25     4.645218
0.75    12.543008
dtype: float64

How to get frequency counts of unique items of a series?

In [22]:
# Input
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

#your code goes here
ser.value_counts()

b    7
d    6
g    5
f    3
c    3
a    2
e    2
h    2
dtype: int64

How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

In [27]:
# Input
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

#your code goes here
num=ser.value_counts()
new_ser=ser[~ser.isin(num)]='other'
print(ser) 
#wronggg#######################

0     other
1         2
2     other
3         3
4     other
5         3
6     other
7         2
8     other
9     other
10    other
11    other
dtype: object

How to convert a numpy array to a dataframe of given shape?

In [32]:
# Input
ser = pd.Series(np.random.randint(1, 10, 35))

#your code goes here
df=ser.to_frame()
print(df)

    0
0   5
1   2
2   7
3   1
4   1
5   9
6   6
7   5
8   2
9   7
10  7
11  5
12  2
13  6
14  1
15  6
16  6
17  8
18  2
19  4
20  3
21  8
22  7
23  6
24  3
25  6
26  4
27  5
28  7
29  6
30  9
31  5
32  1
33  2
34  5

How to find the positions of numbers that are multiples of 3 from a series?

In [40]:
ser = pd.Series(np.random.randint(1, 10, 7))

#your code goes here
num=np.where(ser % 3==0)
print(num)

(array([0, 1, 2, 5, 6], dtype=int64),)

How to extract items at given positions from a series

In [ ]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

#your code goes here
# num=ser.#(pos)

How to compute the euclidean distance between two series?

Compute the euclidean distance between series (points) p and q, without using a packaged formula.

https://en.wikipedia.org/wiki/Euclidean_distance

In [42]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])


#your code goes here
# distance = sum((q - p)**2)**0.5 ##################--->>

How to import only specified columns from a csv file?

crim, medv only

In [43]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv')

#your code goes here
df[['crim','medv']]

        crim  medv
0    0.00632  24.0
1    0.02731  21.6
2    0.02729  34.7
3    0.03237  33.4
4    0.06905  36.2
..       ...   ...
501  0.06263  22.4
502  0.04527  20.6
503  0.06076  23.9
504  0.10959  22.0
505  0.04741  11.9

[506 rows x 2 columns]

How to get the nrows, ncolumns, datatype, summary stats of each column of a dataframe? Also get the array and list equivalent

to the previous dataset

In [44]:
#your code goes here
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  b        506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

How to extract the row and column number of a particular cell with given criterion?

Which manufacturer, model and type has the highest Price? What is the row and column number of the cell with the highest Price value?

In [63]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

#your code goes here

# df[['Manufacturer','Model','Type','Price']]
df[df.Price == df.Price.max()]

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
58,Mercedes-Benz,300E,Midsize,43.8,61.9,80.0,19.0,25.0,Driver & Passenger,Rear,...,5.0,NaN,110.0,69.0,37.0,NaN,15.0,3525.0,non-USA,Mercedes-Benz 300E

How to rename a specific columns in a dataframe?
Rename the column Type as CarType in df

In [69]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

#your code goes here
df.rename(columns = {'Type': 'CarType'},inplace=True) 
df.head()

,Manufacturer,Model,CarType,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i

How to check if a dataframe has any missing values?

for the previous dataset

In [72]:
#your code goes here
df.isnull().sum()

Manufacturer           4
Model                  1
CarType                3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

How to change the order of columns of a dataframe?

for the previous dataset change the order between model and manufacturer to start the dataset with model insted of manufacturer

In [81]:
#your code goes here
column_names = ["Model", "Manufacturer"]
df.reindex(columns=column_names)
df.head() #xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

     Model Manufacturer
0  Integra        Acura
1   Legend          NaN
2       90         Audi
3      100         Audi
4     535i          BMW